<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="gar.desktop.themes" type="Gar.Client.Configuration.Themes.ThemesSection, Gar.Client.Configuration" />
  </configSections>
  <gar.desktop.themes>
    <themes>
      <add value="BaseLight" text="Light" />
      <add value="BaseDark" text="Dark" />
    </themes>
    <accents>
      <add value="Red" text="Red" />
      <add value="Green" text="Green" />
      <add value="Blue" text="Blue" />
      <add value="Purple" text="Purple" />
      <add value="Orange" text="Orange" />
      <add value="Lime" text="Lime" />
      <add value="Emerald" text="Emerald" />
      <add value="Teal" text="Teal" />
      <add value="Cyan" text="Cyan" />
      <add value="Cobalt" text="Cobalt" />
      <add value="Indigo" text="Indigo" />
      <add value="Violet" text="Violet" />
      <add value="Pink" text="Pink" />
      <add value="Magenta" text="Magenta" />
      <add value="Crimson" text="Crimson" />
      <add value="Amber" text="Amber" />
      <add value="Yellow" text="Yellow" />
      <add value="Brown" text="Brown" />
      <add value="Olive" text="Olive" />
      <add value="Steel" text="Steel" />
      <add value="Mauve" text="Mauve" />
      <add value="Taupe" text="Taupe" />
      <add value="Sienna" text="Sienna" />
    </accents>
  </gar.desktop.themes>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>