<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="INotify.Wpf" version="19.4.15.1208" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net452" />
</packages>