<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="INotify.Core" version="1.0.0" targetFramework="net461" />
  <package id="INotify.Core.Commands" version="1.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="StructureMap" version="4.4.0" targetFramework="net452" />
</packages>